/* Basic style and sizing */
*{
  margin:0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  ;
}
.hidden{
  display: none;
}
.container{
  color: white;
  background-color: hsl(207, 26%, 17%);
  min-height: 100vh;
}
img{
  width: 200px;
  height: 100px;
}
.country{
  overflow: hidden;
  border-radius: 5px;
  background-color: hsl(209, 23%, 22%);
  width: 200px;
  box-shadow: -5px 5px 10px hsl(210, 30%, 10%);

}
/* For header */
.header-component-wrapper{
  display: flex;
  width: 865px;
  justify-content: space-between;
  position: relative; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header div button{
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}
header{
  background-color: hsl(209, 23%, 22%);
  height: 80px;
  margin-bottom: 50px;
  position: relative;
}

.country-info{
  padding: 10px;
}

.data-wrapper{ /*Container of country items*/
  position: relative;
  width: 865px;
  left: 50%;
  transform: translate(-50%);
}
.countries-container{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 40px 20px;
}

/* The main search container */
.search-container{ 
  display: flex;
  justify-content: space-between;
}
#search-input{
  color: white;
  height: 40px;
  width: 300px;
  background-color: hsl(209, 23%, 22%);
  border: 0;
  padding-left: 20px;
}
#search-input:focus{
  outline: none;
}
#search-input::placeholder{
  color: white;
}

/* REGION SELECTION FILTER */
.regions-select-container{

}
.regions-bar{
  color: white;
  height: 40px;
  width: 200px;
  background-color: hsl(209, 23%, 22%);
  border: 0;
  padding-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  box-shadow: -5px 5px 10px hsl(210, 30%, 10%);

}
.regions-bar:hover{
  background-color: hsl(208, 22%, 34%);
}
.regions-items{
  margin-top: 5px;
  position: absolute;
  width: 220px;

}

.regions-items ul li{
  padding-top: 5px;
  height: 30px;
  background-color:hsl(209, 23%, 22%);
  padding-left: 10px;
  list-style-type: none;
  cursor: pointer;
}
.regions-items ul li:hover{
  background-color: hsl(208, 22%, 34%);
}

.regions-items ul{
}

/* Search bar icon */
svg{
  width: 20px;
  height: 20px;
  display: inline-block;
}
.search-bar{
  padding: 0px 0px 0px  20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: hsl(209, 23%, 22%);
  width: max-content;
  height: 50px;
  box-shadow: -5px 5px 10px hsl(210, 30%, 10%);
  margin-bottom: 50px;
}